.container {
  max-width: 600px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color:aqua;
}

h1 {
  text-align: center;
  border-radius: 5px;
  padding:10px;
  background-color: #297175;
}

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.todo-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #1e871e;
  color: #fff;
  cursor: pointer;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.todo-item span {
  flex-grow: 1;
  margin-right: 10px;
}

.todo-item button {
  background-color: #f44336;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
